
/* ============================================= */
/*              Variables                       */
/* ============================================= */
$fontweight1:300;
$fontweight2:700;
$defaultmargin:20px;
$secondarymargin:10px;
$defaultpadding:20px;
$secondarypadding:10px;
$primarycolor:#58e1c1;
$secondarycolor:#777;
$linkcolor:#51ddfc;
$btncolor:#fff;
$bordercolor:#ccc;
$breakpoint:768px;
$btncondition:(
'default':#51ddfc,
'error':#e4757a,
'info':#927bc1,
'success':#63cc82,
'warning':#fd7856,);
