
/* ============================================= */
/*              Grid System                      */
/* ============================================= */


.container {
  padding: 0 $secondarypadding;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em $secondarypadding;
}

[class^=col] {
  margin-top: $secondarymargin;
  flex-basis: 100%;
  min-height: 25px;
  padding: $secondarypadding;
  border-radius: 5px;
}



@each $column, $color in $colors{
  .theme.#{$column}{
    background-color: #{$color};

  }

}

.card {
  flex-basis: 100%;
}
