
/* ============================================= */
/*              Grid System                      */
/* ============================================= */


.container {
  padding: 0 $secondarypadding;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em $secondarypadding;
}

[class^=col] {
  margin-top: $secondarymargin;
  flex-basis: 100%;
  min-height: 25px;
  padding: $secondarypadding;
  border-radius: 5px;
}

$colors:(
  'col-1':#927bc1,
  'col-2':#fd7856,
  'col-3':#deb2ee,
  'col-4':#7ee6fd,
  'col-5':#88d9a0,
  'col-6':#4da2bb,
  'col-7':#ec9fa3,
  'col-8':#fd9f85,
  'col-9':#e4757a,
  'col-10':#63cc82,
  'col-11':#51ddfc,
  'col-12':#80e8d1,
);

@each $column, $color in $colors{
  .theme.#{$column}{
    background-color: #{$color};

  }

}

.card {
  flex-basis: 100%;
}
